
/*
    Основные стили
*/

@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: Comfortaa;
  src: url('../fonts/Comfortaa.ttf');
}

html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family:
    'Montserrat',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

input,
textarea {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input:focus {
  outline: none;
  border-bottom: 1px solid #00a3ff;
}

textarea:focus {
  outline: none;
  border: 1px solid #00a3ff;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin: 0 auto;
  overflow: hidden;
}

/*
    Стили для шапки
*/

.header {
  position: fixed;
  display: flex;
  width: 100%;
  padding: 30px 0;
  height: 40px;
  z-index: 2;
  transition: all 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.header__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  margin-right: 80px;
  margin-left: auto;
  color: white;
}

.header__links-link {
  color: white;
  text-decoration: none;
  transition: all 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.header__links-link:hover {
  color: #00a3ff;
}

.header__logo {
  margin-left: 80px;
}

.header__logo-image {
  width: 150px;
  height: 60px;
}

.header-image__call-svg {
  width: 30px;
  height: 30px;
}

/*
    Стили для первого блока
*/

.main {
  width: 100%;
  display: flex;
  align-items: center;
  height: 768px;
  background: black;
}

.main .container {
  display: flex;
  position: relative;
  top: 10vh;
  align-items: center;
  justify-content: center;
}

.main.lazy-bg-loaded {
  background: url('../image/first_bg__parallax.jpg') no-repeat center;
}

.main__title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main__h1-title {
  font-family: 'Comfortaa', sans-serif;
  font-size: 38px;
  color: white;
}

.main__p-title {
  font-family: 'Comfortaa', sans-serif;
  font-size: 18px;
  color: white;
  letter-spacing: 1px;
  font-weight: 100;
}

.main__image-parallax {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

/*
    Стили для полосы плюсов
*/

.pros {
  height: 280px;
  display: flex;
  width: 100%;
  background-color: #e7e7e7;
}

.pros .container {
  display: flex;
}

.pros__pros-wrapper {
  margin: 40px auto;
  display: flex;
  max-height: 200px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pros-item {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  transition: all 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.pros-item:hover {
  transform: scale(0.95);
}

.pros__text {
  font-size: 14px;
}

/*
    Стили для блока примеров работ
*/

.portfolio {
  height: 768px;
  width: 100%;
  background: black;
  padding: 0 0 60px 0;
}

.portfolio.lazy-bg-loaded {
  background: url('../image/portfolio_bg__parallax.jpg') no-repeat center;
}

.portfolio .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio__title {
  color: white;
  margin: 0;
  position: relative;
  top: 100px;
  font-family: 'Comfortaa', sans-serif;
}

.portfolio__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 200px;
}

.portfolio__slider_left {
  display: flex;
  height: 500px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.portfolio__slider_right {
  display: flex;
  height: 500px;
  width: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.portfolio__slider_item {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  opacity: 0.1;
  height: 130px;
}

.portfolio__slider_item img {
  width: 50px;
  height: 50px;
}

.portfolio__slider_item p {
  max-width: 270px;
}

.active-opacity {
  opacity: 1;
}

.portfolio__player-form {
  width: 250px;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.portfolio__player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
  width: 250px;
  height: 260px;
  background-color: white;
  border-radius: 10px;
}

.portfolio__player img {
  border-bottom: 1px solid #00a3ff;
  width: 200px;
  height: 190px;
}

audio {
  width: 210px;
}

.portfolio__form_button {
  height: 40px;
  width: 250px;
  border-radius: 2px;
  background-color: white;
  color: #00a3ff;
  text-transform: uppercase;
  font-family: 'Comfortaa', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  cursor: pointer;
  transition: all 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.portfolio__form_button:hover {
  background-color: #00a3ff;
  color: white;
}

.portfolio__form_button p {
  text-align: center;
  font-size: 14px;
}

/*
    Стили для полосы заказчиков
*/

.customers {
  height: 300px;
  width: 100%;
  background-color: #e7e7e7;
}

.customers__header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  margin-top: 40px;
}

.customers__header {
  font-family: 'Comfortaa', sans-serif;
  margin: 0;
}

.customers__header-note {
  font-size: 12px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.customers .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.customers__items-row {
  width: 80%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.customers__item img {
  width: 200px;
  height: auto;
}

/*
    Стили для блока цен
*/

.prices {
  background-color: black;
  color: white;
  height: 768px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 90px 0;
}

.prices.lazy-bg-loaded {
  background: url('../image/price_bg__parallax.jpg') no-repeat center;
}

.prices .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  justify-content: space-between;
}

.prices__header {
  position: relative;
  top: 70px;
  font-family: 'Comfortaa', sans-serif;
}

.prices__about-table_wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.prices__about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

.prices__about-header {
  width: 380px;
  font-family: 'Comfortaa', sans-serif;
}

.prices__factor {
  display: flex;
  align-items: center;
}

.prices__factor img {
  margin-right: 15px;
}

.price__svg {
  width: 30px;
  height: 30px;
}

.prices__factors-note {
  width: 350px;
  font-size: 12px;
  line-height: 1.8em;
}

.prices__link {
  text-decoration: none;
  font-size: 16px;
  color: #00a3ff;
}

.prices__pricelist {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.prices__pricelist-row {
  display: flex;
  width: 300px;
  padding: 0 10px;
  margin: 3px 0;
  justify-content: space-between;
  border: 1px solid #00a3ff;
  border-radius: 5px;
}

.prices__pricelist-note {
  width: 300px;
  font-size: 12px;
}

/*
    Стили для полосы отзывов
*/

.reviews {
  height: 280px;
  width: 100%;
  background-color: #e7e7e7;
  padding: 0 0 60px 0;
}

.reviews .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.reviews__header {
  margin-top: 30px;
  font-family: 'Comfortaa', sans-serif;
}

.reviews__items-row {
  width: 100%;
  height: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews__item {
  height: 180px;
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-radius: 20px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.reviews__item-text {
  font-size: 14px;
  font-family:
    'Montserrat',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  width: 150px;
  border-left: 1px solid #00a3ff;
  padding: 0 0 0 10px;
}

/*
    Стили для блока контактов
*/

.contacts {
  background: black;
  color: white;
  height: 768px;
}

.contacts.lazy-bg-loaded {
  background: url('../image/contacts_bg.jpg') no-repeat center;
}

.contacts .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90%;
}

.contacts__header {
  position: relative;
  top: 80px;
  font-family: 'Comfortaa', sans-serif;
}

.contacts__form-about {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contacts__form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 400px;
  width: 300px;
  padding: 15px 40px;
  color: black;
  background: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.contacts__form-header {
  align-self: center;
  font-weight: 100;
}

.form__input {
  border-bottom: 1px solid silver;
  padding-bottom: 3px;
  font-size: 12px;
  transition: all 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.form__textarea {
  border: 1px solid silver;
  height: 70px;
  transition: all 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.form__label-comment {
  font-size: 14px;
  opacity: 0.6;
  margin-bottom: -15px;
}

.form__button {
  border: 1px solid #00a3ff;
  text-transform: uppercase;
  padding: 10px 0;
  color: #00a3ff;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.form__button:hover {
  background-color: #00a3ff;
  color: white;
}

.contacts__about {
  height: 400px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.contacts__about-text {
  font-size: 16px;
  line-height: 1.5em;
}

.contacts__about-worktime {
  color: #00a3ff;
  font-size: 18px;
}

.contacts__call-or-write {
  display: flex;
  width: 100px;
  justify-content: space-between;
}

.contacts__svg {
  width: 30px;
  height: 30px;
}

/*
    Стили для футера
*/

.footer {
  background: black;
  height: 280px;
}

.footer .container {
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.footer__contacts {
  font-size: 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__phone {
  text-decoration: none;
  color: white;
}

/*
    Адаптив
*/

@media screen and (min-width: 1368px) and (max-width: 1600px) {
  .container {
    width: 1208px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1368px) {
  .container {
    width: 1160px;
  }
}

@media screen and (min-width: 1080px) and (max-width: 1280px) {
  .container {
    width: 930px;
  }
}

@media screen and (min-width: 920px) and (max-width: 1080px) {
  .container {
    width: 900px;
  }
}

@media screen and (min-width: 500px) and (max-width: 920px) {
  .container {
    width: 80%;
  }

  .header__links {
    min-width: 50%;
  }

  .pros-item {
    max-width: 90px;
    max-height: 90px;
  }

  .pros-item img {
    width: 50px;
    height: 50px;
  }

  .pros__text {
    font-size: 12px;
    text-align: center;
  }

  .portfolio .container {
    overflow: visible;
  }

  .portfolio__slider_item {
    font-size: 12px;
    max-width: 150px;
  }

  .portfolio__slider_left {
    width: 200px;
  }

  .portfolio__slider_right {
    width: 200px;
  }

  .prices {
    height: auto;
  }

  .prices .container {
    overflow: visible;
  }

  .prices__about-table_wrapper {
    margin-top: 100px;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .prices__about {
    margin-top: 30px;
    max-height: 300px;
    align-items: center;
    justify-content: space-around;
  }

  .prices__about-header {
    font-size: 18px;
    text-align: center;
  }

  .prices__pricelist {
    align-items: center;
  }

  .reviews__items-row {
    overflow: scroll;
    width: 150%;
    justify-content: space-between;
  }

  .contacts {
    height: auto;
  }

  .contacts .container {
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .contacts__form-about {
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 180px;
    max-height: 50%;
  }

  .contacts__about {
    height: auto;
  }
}
